.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.bg1::after {
  background-image: url("https://github.com/annanas93/gunviolenceUSA/blob/master/styles/background.jpg?raw=true");
}

div.names {
  background-color: #FFFFFF;
  height: 40px;
}

div.names p{
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 32px;
  color: #4D4D4D;
}
  

div.text {
    overflow: hidden; /* will contain if #first is longer than #second */
}

div.transbox {
    width: 25%;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #FFFF00;
    opacity: 0.7;
    float: left;
    display:inline-block;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox'right {
    width: 25%;
    margin-top: 50px;
    background-color: #FFFF00;
    opacity: 0.7;
    float: right;
    display:inline-block;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

div.transboxright p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

div.titlebox {
  height: 42px;
  color: #FFFF00;
  opacity: 0.7;
}

.title {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 40px;
  color: white;
}

.subtitle {
   text-align: center;
  font-family: "Georgia", serif;
  font-size: 32px;
  color: white;
}  

.bokeh {
  display:inline-block;
  float: left;
  width: 70%;
  height: 600px;
  opacity: 0.9;
}

.bokeh_map {
  display:inline-block;
  float: right;
  margin-left: 10px;
  width: 70%;
  height: 600px;
  opacity: 0.9;
}
